.main-navbar {
  display: flex;
  position: fixed;
  top: 0;
  flex-wrap: nowrap;
  align-items: center;
  width: 100vw;
  justify-content: flex-start;
  height: 70px;
  background: $brand_dark;
  color: $white;
  border-bottom: 1px solid $brand_grey;
  font-family: $big_head;
  z-index: 500;

  @include respond-to(phone) {justify-content: space-between;}

  .branding {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    height: 100%;
    display: flex;
    align-items: center;

    a {
      padding-left: 30px;
      display: flex;
      align-items: center;
    }

    img {
      width: 80px;
    }
  }

  .nav-list {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style-type: none;
    padding: 0;
    margin: 0;

    @include respond-to(phone) {
      position: absolute;
      display: block;
      top: 70px;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding-top: 20px;
      //background: rgba(0,0,0,.7);
      background: $brand_green;
      transition-duration: .3s;
      transition-timing-function: ease;
      transform: translate3d(-110vw,0,0);
    }



    &.exposed {
      @include respond-to(phone) {
        transform: translate3d(0,0,0);
      }
    }
  }

  #nav-radio-trigger:checked + .nav-list {
    @include respond-to(phone) {
      transform: translate3d(0,0,0);
    }
  }

  .nav-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 1em;

    height: 100%;
    line-height: 70px;
    border-left: 1px solid $brand_grey;

    @include respond-to(phone) {height: auto; line-height: 2; text-align: center; font-size: 2em;}

    svg {
      vertical-align: middle;
      width: 1.5em;
      height: 1.5em;

      path {
        fill: $white;
      }
    }

    &:hover {
      background: $alt_grey;
    }
  }

  .cart-nav-item {
    svg {
      height: 30px;
    }
  }

  .nav-item.product-trigger:hover .product-nav {
    transform: rotateX(0deg);
    opacity: 1;
  }

  .product-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    background: $brand_green;
    color: $white;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;
    transition: 0.2s;
    padding: 0;
    margin: 0;
    list-style-type: none;
    column-count: 3;
    column-gap: 50px;
    z-index: 300;
    padding: 20px;

    @include respond-to(phone) {
      display: none;
    }

    li {
      font-family: $body_font;
      font-size: .75em;
      text-transform: capitalize;
      height: auto;
      line-height: 2;
      text-align: center;

      &:hover {
        color: $deep_green;
      }
    }
  }

  .mobile-nav-trigger {
    display: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    &:hover {
      background: $brand_dark;
    }

    @include respond-to(phone) {display: block;}
  }

  #nav-radio-trigger {
    display: none;
    width: 0px;
    font-size: 0px;
  }


}