.page-section {
  padding: 50px 10px;

  .section-title {
    text-align: center;
    margin-top: 0;
    font-weight: 900;
  }

  &.dark-section {
    background: $brand_dark url(./images/BG_logo_white.png);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position-y: 50%;
    background-position-x: -100px;

    @include respond-to(phone) {background-size: 180% auto; background-position-x: -415px; background-position-y: 20%;}
  }
}