.page-section {
  padding: 50px 10px;

  .section-title {
    text-align: center;
    margin-top: 0;
    font-weight: 900;
  }

  &.dark-section {
    background: $brand_dark url(../../images/BG_logo_white.png);
    background-repeat: no-repeat;
    background-size: 73%;
    background-position-y: 50%;
    background-position-x: -77%;
  }
}