.product-breadcrumbs {
  padding: 15px;

  @include respond-to(phone) { display: none; }

  .breadcrumb {
    color: $text_grey;
    font-family: $strong_type;
    text-transform: uppercase;

    &:not(:last-child)::after {
      content: '>';
      padding: 0 10px;
    }
  }

  a.breadcrumb:hover {
    color: $brand_dark;
  }
}