.side-menu {

  li.current-sub {
    color: $brand_green_dark;

    svg polygon {
      fill: $brand_green_dark;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    @include respond-to(phone) {display: none;}
  }

  li {
    font-family: $body_font;
    color: $brand_green;
    line-height: 1.5;
    padding: 4px 0;
  }

  .menu-trigger {
    display: none;
  }

  .menu-trigger-label {
    padding-left: 10px;

    svg {
      width: 15px;
    }
  }

  .second-level {
    height: 0;
    overflow: hidden;
    transition: .5s;
    max-height: 0;
    min-height: 0;
    padding-left: 30px;

    li {
      color: $text_grey;

      &:hover {
        color: $brand_dark;
      }
    }
  }



  .current-sub .second-level, .menu-trigger:checked + .second-level {
    min-height: 16px;
    max-height: 600px;
    height: auto;
  }
}

.mobile-category-menu {
  display: none;



  @include respond-to(phone) {
    display: block;
  }
}