.svg-icon {
  width: 30px;
  height: 30px;
  fill: $brand_green;
}

.svgicon {
  width: 20px;
  height: 20px;
  fill: $text_grey;
  display: inline-block;
  vertical-align:  bottom;

  &:hover {
    fill: $brand_dark;
  }
}