.h1 {
  font-family: $big_head;
  text-transform: uppercase;
  font-size: 3em;
}

.h2 {
  font-family: $strong_type;
  text-transform: uppercase;
  font-size: 2em;
}

.h3 {
  font-family: $strong_type;
  text-transform: uppercase;
  font-size: 1.5em;
}

.h4 {
  font-family: $body_font;
  text-transform: uppercase;
  font-size: 24px;
}

.h5 {
  font-family: $strong_type;
  text-transform: uppercase;
  font-size: 80%;
}

.strong-lead {
  font-family: $strong_type;
  font-size: 1.25em;
  max-width: 800px;
  margin: 1em auto;
  text-align: center;
  //text-transform: uppercase;
}

.strong-text {
  font-family: $strong_type;
  font-size: 1.25em;
}

.body-text {
  font-family: $body_font;
  line-height: 1.5;
}

.narrow-text {
  max-width: 450px;
}

.text-white {
  color: $white;
}

.text-green {
  color: $brand_green;
}

.text-grey {
  color: $text_grey;
}

.text-centered {
  text-align: center;
}

.ucase {
  text-transform: uppercase;
}

.is-contained {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}