$primary_blue: #81CDBC;
$primary_dark: #40333E;
$soft_purple: #645258;
$primary_red: #EF6060;
$white: #ffffff;
$danger: #ff4850;
$text_grey: #888;
$eggshell: #e5e5e5;

$brand_green: #46B977;
$deep_green: #061C04;
$brand_teal: #39BFBE;
$brand_dark: #2B2F2B;
$brand_grey: #515353;