$primary_blue: #81CDBC;
$primary_dark: #40333E;
$soft_purple: #645258;
$primary_red: #EF6060;
$white: #ffffff;
$danger: #ff4850;
$text_grey: #888;
$eggshell: #e2e2e2;

$brand_green: #46B977;
$deep_green: #061C04;
$brand_teal: #39BFBE;
$brand_dark: #2B2F2B;
$brand_grey: #515353;
$card_back: #EFF5F0;
$alt_grey: #777777;

$facebook_blue: #3b5998;
$twitter_blue: #1DA1F3;
$google_red: #dd4b39;