$big_head: 'Teko', sans-serif;
$strong_type: 'Roboto Slab', sans-serif;
$body_font: 'Ubuntu', -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;