@import "variables/typography";
@import "mixins/media";
@import "variables/colours";
$navbar-inverse-bg: $brand_dark;
$navbar-inverse-color: $brand_green;
$navbar-inverse-link-active-color: $white;
$navbar-inverse-link-color: $brand_green;
$navbar-border-radius: 0;
$font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;


@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/sweetalert";
@import "admin/partials/navbar";
@import "admin/partials/forms";
@import "admin/partials/buttons";
@import "admin/partials/spinner";
@import "admin/partials/toggleswitch";
@import "admin/partials/pagination";
@import "admin/partials/pageheader";
@import "admin/partials/usercard";
@import "admin/partials/blogposteditior";
@import "admin/partials/blogindex";
@import "admin/partials/modals";
@import "admin/partials/singleupload";
@import "admin/partials/categories";
@import "admin/partials/breadcrumbs";
@import "admin/partials/categorymenu";
@import "admin/partials/productgrid";
@import "admin/partials/slidesedit";
@import "admin/partials/slidesindex";
@import "admin/partials/searchview";
@import "admin/partials/statcounter";
@import "admin/partials/productshow";
@import "admin/partials/featuredimage";
@import "admin/partials/modalvue";
@import "admin/partials/publishbutton";
@import "admin/partials/socialuser";
@import "admin/partials/gallery";
@import "admin/partials/sharingsummary";
@import "admin/partials/categorymover";
@import "front/partials/productbreadcrumbs";
@import "front/partials/svgicons";
@import "admin/partials/productsupplies";
@import "admin/partials/typeahead";
@import "admin/partials/orders";
@import "admin/partials/quotecustomer";
@import "admin/partials/quoteapp";
@import "admin/partials/quoteitemedit";
@import "admin/partials/quoteitemadd";
a, a:visited, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}