.dd-form {
  padding: 0 15px;

  label {
    color: $soft_purple;
    text-transform: uppercase;
    font-size: small;
  }

  input[type=text], input[type=email], input[type=password], textarea {
    border-radius: 0;
  }

  textarea {
    resize: none;
    max-height: 120px;
  }

  textarea.sized {
    min-height: 120px;
  }

  textarea.taller {
    min-height: 300px;
  }

  &.form-narrow {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
}

.dd-checkbox-label:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $brand_green;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: bottom;
  transition: .5s;
  background: $white;
}

.dd-labelled-checkbox {
  display: none;
}

.dd-labelled-checkbox:checked + .dd-checkbox-label:after {
  background: $brand_green;
}