.availability {
  text-align: left;
}

.product-show-section {
  padding-bottom: 40px;

  .product-breadcrumbs {
    margin-bottom: 50px;
    padding-left: 0;
  }
}

.product-image-box.single-image-uploader-box {

  .profile-image {
    border: none;
  }

  &:hover {

    .profile-image {
      border: 1px dashed $brand_green;
    }
  }
}

.product-options {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;

  .product-option-box {
    flex-grow: 0;
    flex-basis: 30%;
    flex-shrink: 0;
    width: 30%;
    border: 1px solid lighten($brand_green, 30%);
    padding-top: 15px;
  }
}

.product-gallery-preview {

  .product-gallery-preview-thumb {
    display: inline-block;
    width: 80px;
    margin: 10px;
  }
}