.availability {
  text-align: left;
}

.product-show-section {
  padding-bottom: 40px;
}

.product-image-box.single-image-uploader-box {

  .profile-image {
    border: none;
  }

  &:hover {

    .profile-image {
      border: 1px dashed $brand_green;
    }
  }
}

.product-gallery-preview {

  .product-gallery-preview-thumb {
    display: inline-block;
    width: 80px;
    margin: 10px;
  }
}