.quote-search-form-component {

  .field-label {
    color: $brand_green;
    text-transform: uppercase;
    font-size: 90%;
    margin-bottom: 0;
  }

  .search-component {
    min-height: 150px;
  }
}