.about-page-banner {
  background-image: url(../../images/assets/about_banner.jpeg);
  background-size: cover;
}

.strong-lead.padded-bottom {
  padding-bottom: 60px;
}

img.bit-piece {
  display: block;
  margin: 40px auto 40px -10px;
  transform: scale(-1);
  max-width: calc(100% - 10px);
}

img.socket-piece {
  display: block;
  margin: 40px -10px 40px auto;
  max-width: calc(100% - 10px);
}
