.page-section.hero-section {
  padding: 0;
}

.about-section {
  max-width: 1000px;
  margin: 0 auto;

  .about-image {
    img {
      width: 80%;
      //margin: 0 auto;
      display: block;
      //transform: scale(-1, 1);
    }

    @include respond-to(phone) {display: none;}
  }
}

.services-section {

  .service-box {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .service-brief {
    padding-bottom: 40px;
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    @include respond-to(phone) {width: 100%;}

    .service-name {
      font-family: $strong_type;
      text-align: center;
      color: $brand_green;
      text-transform: uppercase;
      margin-top: 0;
    }

    svg {
      height: 40px;
      margin-bottom: 20px;
    }

    .truck {
      padding: 1px;
    }

    .wheelbarrow {
      padding: 4px;
    }

    p {
      max-width: 250px;
      text-align: center;
    }
  }
}

.hot-products-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;



  .hot-product-card {
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 0 4%;
    margin-bottom: 40px;
    position: relative;

    @include respond-to(phone) { flex-basis: 50%; max-width: 50%;}

    img {
      width: 100%;
    }

    .product-name {
      color: $brand_dark;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.new::before {
      content: 'new';
      text-transform: uppercase;
      font-family: $strong_type;
      font-size: 100%;
      color: $white;
      background: $brand_green;
      padding: 3px 6px;
      top: 10px;
      left: 10px;
      position: absolute;
      transform: rotate(-10deg);
    }
  }
}

.latest-news-list {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;

  .latest-news-headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $text_grey;
    height: 60px;

    @include respond-to(phone) {height: auto; min-height: 60px; padding: 12px 0;
      text-transform: capitalize;}

    &:not(:last-of-type) {
      border-bottom: 0;
    }

    .icon-holder {
      width: 50px;
      text-align: center;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond-to(phone) { display: none; }

      svg {
        width: 40%;
        min-width: 20px;
      }
    }

    .article-date {
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 1;
      padding: 0 30px;
      font-family: $strong_type;
      text-transform: uppercase;

      @include respond-to(phone) {flex-basis: 100px; padding: 0 20px; flex-shrink: 0;}
    }

    .article-title-line {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      text-transform: capitalize;
    }
  }
}







.home-footer {
  width: 100%;
  padding: 40px 0 0;



  img {
    display: block;
    width: 120px;
    margin: 0 auto;
  }

  p {
    color: $text_grey;
    text-align: center;
    font-family: $body_font;
  }
}

.dymantic-link {
  &:hover {
    color: #f94b4b;
  }
}