.services-page-banner {
  background-image: url(../../images/assets/phone.jpeg);
  background-size: cover;
  background-position: center;
}

.services-container {
  width: 95%;
  max-width: 960px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;

  .service-writeup {
    max-width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 80px;

    @include respond-to(phone) {max-width: 100%; flex-basis: 100%;}

    p {
      text-align: center;
      padding: 0 3%;
    }

    svg {
      height: 40px;
      margin-bottom: 20px;
    }

    .wheelbarrow {
      padding: 5px;
    }

    .truck {
      padding: 1px;
    }
  }
}

.map-container {
  svg {
    width: 95%;
    max-width: 960px;
    display: block;
    margin: 50px auto;
  }

  svg .map-point {
    //animation-name: pulse;
    //animation-duration: 2s;
    //animation-iteration-count: infinite;
  }
}

.customer-logos {
  text-align: center;

  img {
    display: inline-block;
    width: 175px;
    margin: 20px 50px;
  }
}

@keyframes pulse {
  50% {fill: green;}
}