.services-page-banner {
  background-image: url(../../images/assets/phone.jpeg);
  background-size: cover;
  background-position: center;
}

.services-container {
  width: 100%;
  margin-bottom: -70px;


  .service-row {
    display: flex;
    flex-wrap: nowrap;
    min-height: 400px;

    .service-image-container {
      width: 50%;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      //background: indianred;
      //background-size: cover;
      //background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        width: 55%;
        margin: 0 auto;
        border-radius: 50%;
      }

      @include respond-to(phone) {
        display: none;}
    }

    .service-text-block {
      width: 50%;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0 0 80px;

      @include respond-to(phone) {width: 95%;}
    }

    .service-text-block.dark-block {
      background: $brand_dark;

      .service-writeup {
        color: $white;

        .service-intro {
          color: $white;
        }
      }
    }

    &.sourcing {
      .service-image-container {
        //background: url(../../images/assets/services_sourcing.jpg);
        //background-position-x: 62%;
        //background-size: cover;
        //background-repeat: no-repeat;
      }
    }

    &.customization {
      .service-image-container {
        //background: url(../../images/assets/services_custom.jpg);
        //background-position-x: 25%;
        //background-size: cover;
        //background-repeat: no-repeat;
      }
    }

    &.logistics {

      .service-image-container {
        //background: url(../../images/assets/logistics.jpg);
        //background-position-x: 25%;
        //background-size: cover;
        //background-repeat: no-repeat;
      }
    }

    &.quality-assurance {
      .service-image-container {
        //background: url(../../images/assets/services_qa.jpg);
        //background-position-x: 75%;
        //background-size: cover;
        //background-repeat: no-repeat;
      }
    }
  }

  .service-writeup {
    max-width: 100%;
    width: 500px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;
    margin: 0 auto;


    @include respond-to(phone) {max-width: 100%; flex-basis: 100%;}

    .service-title {
      font-family: $strong_type;
      color: $brand_green;
      text-transform: uppercase;
      font-size: 1em;
      margin-top: 0;
    }

    .service-intro {
      font-family: $strong_type;
      color: $text_grey;
      font-size: 1.1em;
    }

    p {
      //text-align: center;
      padding: 0 3%;
    }

    svg {
      height: 40px;
      margin-bottom: 20px;
    }

    .wheelbarrow {
      padding: 5px;
    }

    .truck {
      padding: 1px;
    }
  }
}

.map-container {
  svg {
    width: 95%;
    max-width: 960px;
    display: block;
    margin: 50px auto;
  }

  svg .map-point {
    //animation-name: pulse;
    //animation-duration: 2s;
    //animation-iteration-count: infinite;
  }
}

.customer-logos {
  text-align: center;

  img {
    display: inline-block;
    width: 175px;
    margin: 20px 50px;
  }
}

@keyframes pulse {
  50% {fill: green;}
}